<cnt-flexy-view-saqhan-promo-header-1_01 [categories]="getCategories()"></cnt-flexy-view-saqhan-promo-header-1_01>
<cnt-flexy-view-saqhan-promo-about-me-1_01 [payload]="getAboutMe()"></cnt-flexy-view-saqhan-promo-about-me-1_01>
<cnt-flexy-view-saqhan-promo-skils-1_01 [payload]="getSkills()"></cnt-flexy-view-saqhan-promo-skils-1_01>
<cnt-flexy-view-saqhan-promo-portfolio-1_01 [payload]="getPortfolio()"></cnt-flexy-view-saqhan-promo-portfolio-1_01>
<cnt-flexy-view-saqhan-promo-contact-form-1_01 [payload]="getAboutMe()"></cnt-flexy-view-saqhan-promo-contact-form-1_01>
<cnt-flexy-view-saqhan-promo-footer-1_01 [categories]="getCategories()"></cnt-flexy-view-saqhan-promo-footer-1_01>
