<cnt-flexy-view-saqhan-promo-header-wrapper-1_01 [categories]="getCategories()"></cnt-flexy-view-saqhan-promo-header-wrapper-1_01>
<cnt-flexy-view-saqhan-promo-about-me-wrapper-1_01 [payload]="getAboutMe()"></cnt-flexy-view-saqhan-promo-about-me-wrapper-1_01>
<cnt-flexy-view-saqhan-promo-skils-wrapper-1_01 [payload]="getSkills()" ></cnt-flexy-view-saqhan-promo-skils-wrapper-1_01>
<cnt-flexy-view-saqhan-promo-portfolio-wrapper-1_01 [payload]="getPortfolio()"></cnt-flexy-view-saqhan-promo-portfolio-wrapper-1_01>
<cnt-flexy-view-saqhan-promo-contact-form-wrapper-1_01 [payload]="getContactForm()" ></cnt-flexy-view-saqhan-promo-contact-form-wrapper-1_01>
<cnt-flexy-view-saqhan-promo-footer-wrapper [categories]="getCategories()"></cnt-flexy-view-saqhan-promo-footer-wrapper>
